extends ../layout

append head
  meta(name='robots', content='noindex')

block content

  #contact
    p.
      Robert Kowalski
      <br/>
      Von-Sauer-Str. 33e
      <br/>
      22761 Hamburg
      <br/>
      <br/>
      Telefon: 0176 96917923
      <br/>
      E-Mail: rok@kowalski.gd

block foot
  include ../includes/footer_missing_imprint