extends ../layout

block content

  if job
    h2= job.jobtitle

    h2
      span= job.company
      br
      span= job.location

    div
      div= job.description
  else
    div.error Kein Job mit dieser Id!
