extends ../layout

block content
  h2(class='fixedwidth center') Jobangebot prüfen

  if job

    include ../includes/job

    form(class='fixedwidth center', method='post', action='/jobs/new/confirm')
      input(type='hidden', name='_csrf', value=token)

      a(class='backlink', href='/jobs/new') Zurück
      button(class='btn', type='submit') Erstellen

  else
    div Error