extends ../layout

block content
  h2(class='fixedwidth center') Jobangebot prüfen

  if job

    include ../includes/job

    form(class='container center', method='post', action='/jobs/new/confirm')
      input(type='hidden', name='_csrf', value=token)

      div(id='createjoblinks')
        ul
          li
            a(class='btn', href='/jobs/new') Bearbeiten
          li
            button(class='btn', type='submit') Erstellen

  else
    div Error