/* Errormessages */
#messages ul,
#messages ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#messages ul {
  margin: 0px auto;
  padding: 20px;
  font-size: 14px;
  width: 442px;
  text-align: left;
}

#messages ul.info,
#messages ul.error {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#messages ul.error {
  color: #cc0000;
  border: 1px solid #cc0000;
  background: #fff;
}

#messages ul.info {
  color: #339933;
  border: 1px solid #339933;
  background: #fff;
}

/* Listing */
div#joblist ul,
div#joblist ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

div#joblist span.jobtitle {
  font-weight: bold;
}

div#joblist {
  padding: 10px 0 10px 0;
}