body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/paper_fibers.png');
}

table {
  padding-bottom: 30px;
}

#wrapper {

}

.span9 {
  width: 100% !important;
}

.fixedwidth {
  width: 750px;
}

h2.fixedwidth {
  padding-bottom: 20px;
}

.job_description {
  padding: 0px;
  width: 200px;
  font-weight: bold;
  vertical-align: top;
}

.job_description_freetext {
  font-weight: bold;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}


.container {
  width: 920px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

a:hover {
  text-decoration: underline;
}

a:hover.jobwebsite {
  text-decoration: none;
}

#logo {
  width: 980px;
  margin: 0 auto;
  font-family: 'Sintony';
}

#logo h1 {
  padding: 30px 30px 0px 30px;
  margin: 0;
  font-size: 3em;
}

#logo a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 20px 0;
}

#site {
  width: 980px;
  background: white;
  margin: 20px auto 40px auto;
  border-radius: 3px;
  overflow: hidden;
}

#content {
  padding: 30px;
}

#footer {
  margin-bottom: 20px;
}

#footer ul {
  text-decoration: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#footer ul li {
  display: inline-block;
  padding: 0px 20px;
}

#footer ul li a {
  color: #999;
}

.new-badge {
  left: -60px;
  position: relative;
  margin-right: -50px;
}

/* Errormessages */
#messages ul,
#messages ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#messages ul {
  margin: 0px auto;
  padding: 20px;
  font-size: 14px;
  width: 442px;
  text-align: left;
}

#messages ul.info,
#messages ul.error {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#messages ul.error {
  color: #cc0000;
  border: 1px solid #cc0000;
  background: #fff;
}

#messages ul.info {
  color: #339933;
  border: 1px solid #339933;
  background: #fff;
}

/* Create Job Links */
div.createjoblink {
  padding: 10px 0px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

div.createjoblink:last-of-type {
  border-top: 1px solid #ccc;
  border-bottom: 0px;
}

div.createjoblink a {
  color: #3a87ad;
}

a.backlink {
  color: #3a87ad;
}

/* Listing */
div#joblist ul,
div#joblist ul li {
  list-style: none;
  margin: 0px;
  padding: 10px 10px 10px 30px;
}

div#joblist ul li a {
  color: #666 !important;
}

div#joblist a span.location {
  color: #00B7FF;
}

div#joblist span.jobtitle {
  font-weight: bold;
}

div#joblist {
  padding: 10px 0 10px 0;
}

