extends layout

block content

  h2 node.js und Frontend
  div Suchen Sie JavaScript Entwickler im Bereich Frontend oder Backend fest oder als freier Entwickler?
  div Sie sind JavaScript Entwickler auf Jobsuche?
  br
  div JavaScript Jobs: JavaScript im Frontend oder im Backend mit Node.js - mit JavaScript Jobs können Sie Jobs für JavaScript kostenlos einstellen oder suchen.
  br

  h2 Jobs
  div(id='joblist')
    ul
      each job in joblist
        li
          span(class='jobtitle') #{job.location} &nbsp;
          span #{job.jobtitle} &nbsp;
          span #{job.company} &nbsp;
          span datehelper(#{job.date})

  a(href='/jobs/new') Neuen JavaScript Job erstellen