doctype 5
html
  head
    title JavaScript Jobs
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    div(class='container')
      section#content
        h1#logo
          a(href='/') JavaScript Jobs
        if (flash.error != undefined)
          div(id='messages')
            ul.error
              each error in flash.error
                li= i18n.t(error)
        block content

      section#footer
        a(href='/impressum') Impressum